.favList {
  padding: 40px 10px 40px 10px;
  .favList-title {
    margin-left: 18px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 2rem;
  }
  .favList-p {
    margin-left: 18px;
    font-size: 1.2rem;
    text-align: center;
  }
}
